@page
@model IndexModel
@{
    Layout = ""; // not on this page
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>rig-controller</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/rig_controller.styles.css" asp-append-version="true" />

    <style type="text/css">
        body {
          overflow: hidden; /* prevent scrollbars */
          background-color: black;
          color: white;
          margin:0px;
          padding:0px;
          border:1px solid red;
          width:798px;
          height:480px;
        }
    </style>
</head>
<body>
    <div class="container">

        <table style="font-size:36pt; font-weight:bold;">
            <tr>
                <td id="digit1">0</td>
                <td id="digit2">0</td>
                <td id="digit3">0</td>
                <td id="digit4">0</td>
                <td>.</td>
                <td id="digit5">0</td>
                <td id="digit6">0</td>
                <td id="digit7">0</td>
            </tr>
        </table>

        <div id="smeter" style="border:1px solid green;"></div>

        <input type="button" id="sendButton" value="Send" />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/rigui.js"></script>

</body>
</html>